{redefine col-name}
    <td>
        {ifset $row->name}
        <strong>{$row->name}</strong> <br/>
        {/}

        {foreach $row->getTroops(TRUE) as $tr}
          {$tr->name} {sep} | {/}
        {/}
    </td>
{/}

{redefine col-user}
  <td>
      {if $row->getUser() !== null}
        <span title="{$row->getUser()->email}">{$row->getUser()->getName()}</span>
      {/}
  </td>
{/}

{redefine col-date}
<td>
    {if $row->date_from && $row->date_from > '0000-00-00'}
        {$row->date_from|date:"j.n.Y"}
    {else}
        <strong>Neuvedeno</strong>
    {/}
    {if $row->date_from != $row->date_to && $row->date_to > '0000-00-00'}
        - {$row->date_to|date:"j.n.Y"}
    {/}
</td>
{/}

{redefine col-text}
    <td>
        {if strlen($row->action) > 0}
            <button
                    title="Náhled akce"
                    type="button"
                    class="btn btn-default"
                    data-container="body"
                    data-toggle="popover"
                    data-placement="right"
                    data-trigger="hover"
                    data-content="{$row->action|striptags|truncate:300}"
            >
                <i class="fa fa-clock-o"></i>
            </button>
        {/}

        {if isset($row->report) && strlen($row->report) > 6}
            <button
                    title="Náhled reportáže"
                    type="button"
                    class="btn btn-default"
                    data-container="body"
                    data-toggle="popover"
                    data-placement="right"
                    data-trigger="hover"
                    data-content="{$row->report|striptags|truncate:300|replace:'----':''}">
                <i class="fa fa-adn"></i>
            </button>
        {/}
    </td>
{/}

{redefine #col-aplication-edit}
    <td class="grid-col-actions">
        <div class="btn-group">
            <a title="Editovat" class="btn btn-info btn-sm" href="{plink edit, $row->id}">
                <i class="fa fa-edit"></i>
            </a>
            {if $user->isAllowed('create')}
            <a title="Smazat" onclick="return confirm('Přejete si vymazat tuto položku?')" class="btn btn-danger btn-sm" href="{plink remove! $row->id}">
                <i class="fa fa-trash-o"></i>
            </a>
            {/}
        </div>
    </td>
{/}
