{var $robots = noindex}

{block content}
<h2 n:block=title>Stránka nebyla nalezena</h2>

<p>
    Stránka, kterou jste požadovali nebyla nelezena. Je možné, že adresa je špatně napsaná, či již neexistuje.
</p>

<p><small>Error 404</small></p>
