{block #breadcrumb}
    {control breadcrumbs}
{/}

{block #pageTitle}
    {if $user->isAllowed('create')}
        <a class="btn btn-success" n:href="edit, null"><i class="fa fa-plus"></i></a>
    {/}
    Akce a reportáže
{/}

{block #content}

    {control table}