<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Skaut {block title}| Homepage{/}</title>

    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet">
    <link href="{$basePath}/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{$basePath}/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="{$basePath}/css/bootstrap3.nextras.datagrid.css">
    <link rel="stylesheet" media="screen" href="{$basePath}/css/admin.css">
</head>

<body>

    <div class="container">
        <div class="well">
            <h1>Administrace</h1>
            <h2>Modrý skaut</h2>
            <hr/>
            {include #content}
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{$basePath}/bootstrap/js/bootstrap.js"></script>
<script src="{$basePath}/js/bootstrap-datetimepicker.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>

<script src="{$basePath}/js/nextras.datagrid.js"></script>
<script src="{$basePath}/js/nextras.datetimepicker.init.js"></script>
<script src="{$basePath}/js/nextras.typeahead.init.js"></script>
<script src="{$basePath}/js/nextras.netteForms.js"></script>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<script src="{$basePath}/js/main.js"></script>

</body>
</html>
