{block #breadcrumb}
    {control breadcrumbs}
{/}


{block #pageTitle}
    Editace - Stránka
{/}

{block #content}

    <div class="row">
        <div class="col-sm-8">
            {control editForm}
        </div>
    </div>