{block #pageTitle}
    <i class="fa fa-user"></i> {$userEntity->getName()}
    <hr/>
{/}

{block #content}

<div class="row">
    <div class="col-sm-8">
        {control editProfileForm}
    </div>
</div>